<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layoutsweather">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayoutsWeather">
        <!--        <activity-->
        <!--            android:name=".MainActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".LinerRecycleViewLayout.Followers.FollowersActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.kirish_oynasi.KirishActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.weather4.Weather4Activity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.weather2.WeatherAcitvity2"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.email_app.EmailActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.agenda.AgendaActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.weather1.WeatherActivity1"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".weather.home.HomeActivity"-->
        <!--            android:exported="true" />-->
        <activity
            android:name=".LinerRecycleViewLayout.Followers.Purchase.PurchaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>